.chess-board {
    border-width: 0;
    border-collapse: collapse;
    text-align: center;

    font-weight: bold;
    font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";

    background-color: rgba(93, 92, 92, 0.21);
    border-radius: 20px;
}

.chess-board td {
    width: min(10vh, 10vw);
    height: min(10vh, 10vw);
}

.figure-field:hover {
    outline: orange solid 3px;
}

.chess-board .light {
    background: #eee;
    transition: ease 0.1s;
}

.chess-board .dark {
    background: #739552;
    transition: ease 0.1s;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.piece {
    scale: 3.5;
    stroke: #464646;
    stroke-width: 20px;
}

@media screen and (max-width: 700px) {
    .piece {
        scale: 2.3;
    }
}

@media screen and (max-width: 460px) {
    .piece {
        scale: 1.5;
    }
}

.bot_selector {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bot_selector select {
    padding: 10px;
    transition: all ease 0.2s;
    outline: none;
    border: grey solid 2px;
    margin: 10px 0 10px 10px;
    border-radius: 10px 0 0 10px;
    height: 40px;

}

.bot_selector select:hover {
    scale: 102%;
    background-color: #919191;
}

.bot_selector select:active {
    scale: 102%;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.bot_selector button {
    padding: 10px;
    transition: all ease 0.2s;
    border: #7ca853 solid 2px;
    background-color: #739552;
    margin: 10px 10px 10px 0;
    border-radius: 0 10px 10px 0;
    height: 40px;
}

.bot_selector button:hover {
    scale: 102%;
    background-color: #5b8a28;
}

.bot_selector button:active {
    scale: 97%;
}
